<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.trtc.tuikit.atomicx">
    <!-- Android 12 or lower -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Android 13 or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- Android 14 or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <!-- System alert window / Display over other apps permission -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:name="io.trtc.tuikit.atomicx.albumpicker.ui.picker.AlbumPickerActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BaseComponent.Theme.FullScreen" />

        <activity
            android:name="io.trtc.tuikit.atomicx.videorecorder.view.VideoRecorderBridgeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="io.trtc.tuikit.atomicx.videorecorder.view.VideoRecorderActivity"
            android:exported="true"
            android:theme="@style/BaseComponent.Theme.FullScreen" />

        <activity
            android:name="io.trtc.tuikit.atomicx.filepicker.impl.FilePickerBridgeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="io.trtc.tuikit.atomicx.videoplayer.impl.VideoPlayerActivity"
            android:exported="true"
            android:theme="@style/BaseComponent.Theme.FullScreen" />

        <provider
            android:name=".basecomponent.utils.ContextProvider"
            android:authorities="${applicationId}.BaseComponent.ContextProvider"
            android:exported="false"
            android:initOrder="10000" />

        <!-- FileProvider for opening files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.BaseComponent.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/base_component_file_paths" />
        </provider>
    </application>
</manifest>
