name: tuikit_atomic_x
description: "tuikit_atomic_x is a public UI library for Tencent components."
version: 3.6.2
homepage: https://trtc.io

environment:
  sdk: '>=3.5.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter
  intl: any
  cupertino_icons: ^1.0.8
  path_provider: ^2.1.4
  path: ^1.9.0
  provider: ^6.0.5
  azlistview: ^2.0.0
  lpinyin: ^2.0.3
  cached_network_image: ^3.3.1
  flutter_svg: ^2.0.10+1
  flutter_swipe_action_cell: ^3.1.3
  scroll_to_index: ^2.1.1
  url_launcher: ^6.3.1
  shared_preferences: ^2.5.0
  visibility_detector: ^0.4.0+2
  tencent_cloud_chat_sdk: any
  tencent_rtc_sdk: any
  scrollable_positioned_list: ^0.2.3

  atomic_x_core: ^3.6.2
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  uses-material-design: true
  generate: true
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' specifies the class (in Java, Kotlin, Swift, Objective-C, etc.)
  # which should be registered in the plugin registry. This is required for
  # using method channels.
  # The Android 'package' specifies package in which the registered class is.
  # This is required for using method channels on Android.
  # The 'ffiPlugin' specifies that native code should be built and bundled.
  # This is required for using `dart:ffi`.
  # All these are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: io.trtc.tuikit.atomicx
        pluginClass: AtomicXPlugin
      ios:
        pluginClass: AtomicXPlugin

  # To add assets to your plugin package, add an assets section, like this:
  assets:
    - call_assets/
    - chat_assets/emoji/
    - chat_assets/icon/
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # To add custom fonts to your plugin package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
